.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  padding: 12px 16px 0;
}

.viewContainer {
  flex: 1;
  padding: 16px;
}

.selectionBar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 16px;
  font-size: var(--font-text-xs-size);
  border-top: 1px solid var(--color-border-secondary);
}

.selectedRun {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 2px 8px;
  color: var(--color-text-secondary);
  background: var(--color-background-secondary);
  border-radius: var(--border-radius-sm);
}

.selectedRun button {
  padding: 0 2px;
  font-size: var(--font-text-xs-size);
  color: var(--color-text-tertiary);
  cursor: pointer;
  background: none;
  border: none;
}
